/*---------------------------------------
base
---------------------------------------*/
html{
    box-sizing: border-box;
}

*;*::before,::after{
    box-sizing: inherit;
}

/*---------------------------------------
ELEMENT
---------------------------------------*/

body{
    margin: 0;
    padding: 0;

    font-family: "Roboto", serif;

    font-size: 18px;
}

.wrapper{
    max-width: 1080px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

/*---------------------------------------
compoments
---------------------------------------*/

/*header*/

header{
    background-color: #f26c25;
    padding-top: 10px;
    padding-bottom: 10px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

header p{
    font-size: 36px;
    font-weight: bold;
    color: white;

    margin: 0;
}

header ul{
    display: flex;
    gap: 40px;

    list-style-type: none;

    padding: 0;

}

header nav a{
    color: white;
}

header nav a:hover{
    text-decoration: underline;
}

/*section baniere*/

.baniere{
    background-color: #eeeeee;
}

.baniere .wrapper{
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 7.2px;

}

/*section transport*/

.titre-transport{
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 60px;

    background-color: #eeeeee;

    border: solid 1px #d0e0d0;

    margin-top: 80px;
    margin-bottom: 60px;

    padding-left: 20px;
    padding-right: 20px;
}

h2{
    font-size: 18px;
    font-style: 700;

}

.conteneur-transport{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;
}

article h3{
    font-size: 36px;
    font-weight:300 ;
    align-items: center;
}

article p{
    text-align: center;
}

/*footer*/

footer a{
    display: inline-block;
    width: 32px;
    height: 32px;
}

footer ul{
    display: flex;
    justify-content: end;
}





.facebook a{
    background-image: url(/image/facebook-nb.jpg);
}

.twitter a{ 
    background-image: url(/image/twitter-nb.jpg);
}

.linkedin a{
    background-image: url(/image/linkedin-nb.jpg);
}

.pinterest a{
    background-image: url(/image/pinterest-nb\ 1.jpg);
}

.facebook a:hover{
    background-image: url(/image/facebook-survol\ 1.jpg);
}

.twitter a:hover{ 
    background-image: url(/image/twitter-survol.jpg);
}

.linkedin a:hover{
    background-image: url(/image/linkedin-survol.jpg);
}

.pinterest a:hover{
    background-image: url(/image/pinterest-survol.jpg);
}
